//
// Explicitly define a Segoe UI font-family so that we can assign Segoe UI
// Semilight to an appropriate font-weight.
// from https://github.com/winjs/winjs/blob/master/src/less/font-definitions.less
//
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 500;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

// Attempt to use each platform's native font
$native-font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto", "Helvetica Neue", "Lucida Grande", sans-serif;

@mixin type-t1() {
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
}

@mixin type-t2() {
    font-size: 46px;
    font-weight: 200;
    line-height: 56px;
}

@mixin type-t3() {
    font-size: 34px;
    font-weight: 200;
    line-height: 40px;
}

@mixin type-t4() {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}

@mixin type-secondary() {
    opacity: 0.6;
}

.type-secondary {
    @include type-secondary();
}